
.main-title{
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .main-title {
        animation: blink-effect infinite 2s linear;
    }
}

@keyframes main-title-spin {
    from {
        transform: scale(2) rotate(0deg);
    }
    to {
        transform: scale(0) rotate(360deg);
    }
}

@keyframes blink-effect {
    50%{
        opacity: 0;
    }
}